
figure{
    margin: 0 auto !important;;
}
table {
    margin : 0 auto !important;
}
.se-component.se-image-container.__se__float-center{
    text-align: -webkit-center !important;
    justify-content: flex-end;
    display: flex;
    /* text-align: center !important; */
}
.se-component.se-image-container.__se__float-right{
    text-align: -webkit-right !important;
    justify-content: flex-end;
    display: grid;


    /* text-align: center !important; */
}
.se-component.se-image-container.__se__float-left{
    text-align: -webkit-left !important;



    /* text-align: center !important; */
}

